body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #003153;
  margin-top: 200px;
  overflow: hidden;
}

@font-face {
  font-family: "Montserrat";
  src: url(/font/Montserrat-Black.ttf) format("truetype");
  font-weight: normal;
}

/* Sparkle effect */
#sparkles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 5;
}

.sparkle {
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: #fff0f5;
  text-shadow: 2px 2px 4px #893f45;
}

.startBtn {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  padding: 15px 30px;
  margin: 15px;
  border: none;
  border-radius: 40px;
  background-color: #fcb69f;
  color: #893f45;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.startBtn:hover {
  transform: scale(1.1);
}
